{% extends "eZDemoBundle::pagelayout.html.twig" %}

{% block content %}
<section class="content-view-full">
    <div class="class-feedbackform row">

        {{ form(form) }}

    </div>
</section>
{% endblock %}